<%- include("partials/header") %> 
<%- include("partials/navbar") %> 

    <div class="container" style="margin-bottom:1rem ;">
        <div class="row">
            <div class="col-md-3">
                <img src="/uploads/images/<%= book.image %>"
                    style="width: 100%; height: 25rem;">
            </div>

            <div class="col-md-9">
                <h3>Title: <%= book.title %> </h3>
                <p>Author: <%= book.author %> </p>
                <p>Category: <%= book.category %> </p>
                <p>Tags: <%= book.tags %> </p>
                <p>Price: <%= book.price %> Ksh</p>
                <p style="font-weight: 700;">Description: </p>
                <p style="line-height: 1.5rem;"><%= book.description %> </p>

                <br>
                <a href="/details/<%= book._id %>/edit"> <button class="btn btn-primary del">Edit Book</button></a>
                <form action="/details/<%= book._id %>?_method=DELETE " method="POST" style="display: inline;">
                    <button class="btn btn-danger del">Delete Book</button>
                </form>
            </div>
        </div>
    </div>

    <div class="container">
        <h3>Similar Books</h3>
        <hr>
        <% if(book.category === book.category) { %>
                <p> <%= book.category %> books </p>
        <% } else { %>
            <h3>No Similar Books vailable</h3>
        <% } %>
    </div>

    

<%- include("partials/footer") %> 