<%- include("partials/header") %> 
<%- include("partials/navbar") %> 

    <div class="container">
        <h2 style="text-decoration: underline;">Edit Page</h2>
        <h3>Title: <%= book.title %> </h3>
        <p>Author: <%= book.author %> </p>
        <p> <strong> Description:</strong> <%= book.description %> </p>

        <h3 style="text-align: center;">Edit These</h3>
        <form action="/details/<%= book._id %>?_method=PATCH" method="POST" enctype="multipart/form-data" class="form-group" style="margin-bottom: 2rem;">
            <label for="category">Category</label> 
            <select name="category" required id="gender" type="text" placeholder="<%= book.category %>" class="form-control">
                <option value="fantacy">Fantacy</option>
                <option value="adventure">Adventure</option>
                <option value="mystry">Mystry</option>
                <option value="fiction">Science Fiction</option>
                <option value="cooking">Cooking</option>
                <option value="selfHelp">Self-Help</option>
                <option value="motivational">Motivational</option>
                <option value="health">Health</option>
            </select>

            
            <label for="tags">Tags</label> 
            <select name="tags" required id="tags" type="text" placeholder="<%= book.tags %>" class="form-control">
                <option value="onffer">On-Offer</option>
                <option value="soldOut">Sold-Out</option>
                <option value="Available">Available</option>

            </select>
            
            <label for="price"> Price</label>
            
            <input type="number" name="price" id="price" placeholder="<%= book.price %>" class="form-control">

        
            <label for="image">Upload Image</label>
            <input type="file" name="image" id="image" class="form-control">
            <br>
            <button class="btn btn-warning">Save Changes</button> <br>
        </form>
    </div>

<%- include("partials/footer") %> 
